@import "tailwindcss";

:root {
  --background: #8799b3;
  --foreground: #050505;
}

/* color themes */
@theme {
  --color-win-bg-gray: #c0c0c0;
  --color-win-bg-dark-gray: #808080;
  --color-win-dark-shadow: #404040;
  --color-win-blue: #0000a8;

  /* popup-window colors */
  --color-item-blue: #204072;
  --color-item-blue-dark: #172F51;
  --color-item-blue-light: #42679b;
}

/* fonts */
@font-face {
  font-family: 'Win95Font';
  src: url("/font/w95f.woff2") format('woff2'),
       url("/font/w95f.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  /* --font-sans: var(--font-geist-tektur), sans-serif;
  --font-mono: var(--font-geist-tektur), monospace; */
  --font-sans: "Win95Font", sans-serif;
  --color-brand-primary: #003366;
  --color-brand-secondary: #ffcc00;
}

/* cursor theme */
html, body {
  cursor: url("/cursor/arrow.cur"), auto;
}

a,button {
  cursor: url("/cursor/Cursor_15.cur"), pointer;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.image-pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}