@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #050505;
}

@theme inline {
  --font-sans: var(--font-geist-tektur), sans-serif;
  --font-mono: var(--font-geist-tektur), monospace;
  --color-brand-primary: #003366;
  --color-brand-secondary: #ffcc00;
}

body {
  background: var(--background);
  color: var(--foreground);
}